
.idea/libraries/appcompat_v7_19_1_0.xml

.idea/libraries/support_v4_19_1_0.xml

.idea/workspace.xml

.idea/vcs.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/misc.xml

.idea/misc.xml

.idea/gradle.xml

.idea/misc.xml

.idea/encodings.xml

.idea/copyright/profiles_settings.xml

.idea/compiler.xml

.gradle/1.10/taskArtifacts/taskArtifacts.bin

.gradle/1.10/taskArtifacts/outputFileStates.bin

.gradle/1.10/taskArtifacts/fileSnapshots.bin

.gradle/1.10/taskArtifacts/fileHashes.bin

.gradle/1.10/taskArtifacts/cache.properties.lock

.gradle/1.10/taskArtifacts/cache.properties

.idea/misc.xml

.idea/misc.xml
